{% extends "gamelancer_main/template_client.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            {% include 'gamelancer_main/includes/client_userinfo_left.html' %}
        </div>
        <div class="col-md-8">

            {# verbatim #}


            {% if type == "passwordchange" %}
                {% include 'gamelancer_main/includes/password_change.html' %}
            {% elif type == "passwordprechange" %}
                {% include 'gamelancer_main/includes/password_prechange.html' %}
            {% endif %}
            {# endverbatim #}

        {{ type }}
        </div>
        <div class="col-md-2">
            {% include 'gamelancer_main/includes/client_userinfo_right.html' %}
        </div>
    </div>
</div>


{% endblock %}


