{% extends "gamelancer_main/template_client.html" %}

{% block content %}

    <div class="container">
        <div class = "row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                 {% for apply in ProjectApply %}
                     {% if project.is_past_due %}
				        <span class="label label-default">모집완료  </span>
                     {% else %}
				        <span class="label label-success">모집중  </span>
                     {% endif %}

                     <div>{{ apply.user.username }} 님께서  <span> {{ apply.project.title }}</span>지원하셨습니다. </div>
                     <div> 지원금액 {{ apply.budget }}만원</div>
                     <div> 업무수행일 {{ apply.duration }} 일</div>
                     <div> 지원자 분석 :  {{ apply.comment }}</div>
                     <div> <img src ="{{ apply.portfolio1.image1.url }}"/></div>
                     <div> 포트폴리오 설명 {{ apply.portfolio_desc }}</div>
                     <div><a href="#">지원자 상세보기</a></div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


