{% extends "gamelancer_main/template_main.html" %}
{% load staticfiles %}
{% block content %}

    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">
                    <div class="intro-text">
                        <h1 class="name">게임랜서에 오신 것을 환영합니다.</h1>
                        <hr class="star-light">
                        <span class="skills">안전하고 정확한 프리랜서 -- 게임을 만들 때는 게임랜서의 도움을 받으세요</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


{% endblock %}


