{% extends "gamelancer_main/template_partner.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include "gamelancer_main/includes/partner_side_menu.html" %}
        </div>
        <div class="col-md-8">
            <h1>포트폴리오 추가</h1>
            <form method="POST" class="post-form" enctype="multipart/form-data"> {% csrf_token %}

               {{ form.as_p }}

                 <button type="submit" class="save btn btn-default">업로드</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


