{% extends "gamelancer_main/template_partner.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% include "gamelancer_main/includes/partner_side_menu.html" %}
            </div>
            <div class="col-md-8">
                <a href="/partner/portfolio/upload">
                    <input class="btn btn-success" type="submit" value="포트폴리오 업로드" />
                </a>

                {% for portfolio in portfolios %}
                    <h2> <a href="/partner/portfolio/{{ portfolio.id }}"> {{  portfolio.title }}</a></h>
                        <div>
                            {{ portfolio.desc }}
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


