{% extends "gamelancer_main/template_partner.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include "gamelancer_main/includes/partner_side_menu.html" %}
        </div>
        <div class="col-md-8">
            <h1>포트폴리오 추가</h1>
            <form method="POST" class="post-form"> {% csrf_token %}
                <div class="form-group row">
                    {{ form.title }}
                </div>

                <div class="form-group row">
                    {{ form.desc }}
                </div>

                <div>
                    {{ form.start_day }}
                    {{ form.end_day }}
                    {{ form.image1 }}
                    {{ form.image1desc }}
                    {{ form.category1 }}
                    {{ form.category2 }}
                    {{ form.categery3 }}
                    {{ form.start_day }}
                    {{ form.end_day }}

                    <div>
                        참여한 비율을 %로 적어 주세요
                        {{ form.participation_ratio }}
                    </div>
                    {{ form.technical_tag }}
                    기술 태그는 쉼표로 구분해서 기입해 주세요
                    최대 5개 까지 기입할 수 있습니다.
                    <br>
                    대표이미지를 선택해 주세요
                    {{ form.image1 }}
                    {{ form.image1desc }}
                    {{ form.image2 }}
                    {{ form.image2desc }}
                    {{ form.image3 }}
                    {{ form.image3desc }}
                    {{ form.image4 }}
                    {{ form.iamge4desc }}
                    {{ form.image5 }}
                    {{ form.image5desc }}

                </div>

                 <button type="submit" class="save btn btn-default">업로드</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


