{% extends "gamelancer_main/template_partner.html" %}

{% block content %}


<h1> 프로젝트 관리 </h1>

<form method="POST">{% csrf_token %}

<br><br>
<comment>아래 버튼 조건 처리</comment><br>
<button name="project_sort" value="" type="submit">관심프로젝트</button>
<button name="project_sort" value="" type="submit">지원중</button>
<button name="project_sort" value="" type="submit">진행중</button>
<button name="project_sort" value="" type="submit">완료프로젝트</button>
<br><br>

    {% for project in projects %}
	<div class = "row" id="project-item">
		<div class = "media" >
            <!--NEW.-->
			{% if project.is_new %}
				<span class="label label-success">NEW  </span>
			{% endif %}

			<!--모집완료/모집중.-->
            {% if project.is_past_due %}
				<span class="label label-default">모집완료  </span>
			{% else %}
				<span class="label label-success">모집중  </span>
			{% endif %}

            <!--마감임박.-->
			{% if project.close_soon %}
				<span class="label label-success">마감임박  </span>
			{% endif %}

			<h3> {{ project.title }}</h3>

			<p> 프로젝트 예산 {{ project.budget }} 마감일 {{ project.closing_date | date:"Y.m.d" }} 예상기간 :  {{ project.duration }} </p>
			<p> 등록일 {{ project.register_time |date:"Y.m.d"}}  예상업무시작일  {{ project.work_start_date | date:"Y.m.d" }} </p>

            <!--TODO. 지원중 여부, 관심있는 프로젝트 표시. -->

			<p> {{ project.desc }} </p>

			<p> 기능 : {{ project.category1 }} 플랫폼 {{project.category2 }} 장르 {{ project.category3 }}

			<div class ="custom-label">
            	{% for tag in project.get_tag_list %}
				<span class="label label-primary"> {{tag}} </span> &nbsp
				{% endfor %}
			</div>
		</div>
	</div>
    <br>

    {% endfor %}

	<div class="pagination">
		<span class="step-links">
			{% if projects.has_previous %}
				<a href="?page={{ contacts.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
			</span>

			{% if projects.has_next %}
				<a href="?page={{ projects.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>

</form>

{% endblock %}
