{% extends "gamelancer_main/template_partner.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% include "gamelancer_main/includes/partner_side_menu.html" %}
        </div>
        <div class="col-md-8">
            <h1>포트폴리오 추가</h1>
            <form>
                <div class="form-group row">
                    <lable for="title" class="col-2 col-form-label">포트폴리오 제목 </lable>
                    <div class="col-10">
                        <input class="form-control" type="text" id="title" />
                    </div>
                </div>

                <div class="form-group row">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">기능별</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>카테고리</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                </div>
                 <div class="form-group row">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">플랫폼별</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>카테고리</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                </div>
                 <div class="form-group row">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">장르별</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>카테고리</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                </div>
                 <button type="submit" class="btn btn-primary">업로드</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


