{% extends "gamelancer_main/template_partner.html" %}

{% block content %}
<!--
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
-->

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


    <script type='text/javascript'>
    $(document).ready(function(){

        var category1 = $("input[type='radio'][name='category1']");
        category1.on('change', function() {
            $("button[name='search']").trigger("click");
        });

        var category2 = $("input[type='radio'][name='category2']");
        category2.on('change', function() {
            $("button[name='search']").trigger("click");
        });

		var category3 = $("input[type='radio'][name='category3']");
        category3.on('change', function() {
            $("button[name='search']").trigger("click");
        });

        var category4 = $("input[type='checkbox'][name='category4']");
		category4.on('change', function() {
			if (category4.is(":checked")) {
				$("input[type=checkbox][name='program']").prop("checked",true);
			} else {
				$("input[type=checkbox][name='program']").prop("checked",false);
			}
			$("button[name='search']").trigger("click");
		});
        var program = $("input[type='checkbox'][name='program']");
        var isProgram;
        program.on('change', function() {
        	isProgram = false;
        	{% for index, category in category.PROGRAM_CATEGORY %}
        		isProgram = isProgram || $("input[type=checkbox][name='{{index}}']").is(":checked");
        	{% endfor %}
            category4.prop('checked', isProgram);
            $("button[name='search']").trigger("click");
        });
    });
    </script>



<h1> 프로젝트 찾기 </h1>

<p></p>
<form method="POST">{% csrf_token %}

<input name="desc" value=""/><button name="search" type="submit">검색</button>
<br>

<label class="checkbox-inline">
	기능별
</label>
<br>
{% for index, category in category.FUNCTIONAL_CATEGORY %}
<label data-form-control="toggle" data-min-width="60" data-min-height="30">
	<input name="category1" type="radio" id="{{index}}" value="{{index}}" {% if form.category1.value == index %} checked {% endif %}>
		<span data-form-decorator="before">
			<span data-form-decorator="after">{{category}}</span>
		</span>
</label>
{% endfor %}

<p></p>

<label class="checkbox-inline">
	플랫폼별
</label>
<br>
{% for index, category in category.PLATFORM_CATEGORY %}
<label data-form-control="toggle" data-min-width="60" data-min-height="30">
	<input name="category2" type="radio" id="{{index}}" value="{{index}}" {% if form.category2.value == index %} checked {% endif %}>
		<span data-form-decorator="before">
			<span data-form-decorator="after">{{category}}</span>
		</span>
</label>
{% endfor %}

<p></p>
<label class="checkbox-inline">
	<input type="checkbox" data-toggle="toggle" name="category4" {% if programList %} checked {% endif %}> 프로그램별
</label>
<br>
{% for index, category in category.PROGRAM_CATEGORY %}
<label data-form-control="toggle" data-min-width="60" data-min-height="30">
	<input name="program" type="checkbox" id="{{index}}" value="{{index}}" {% for program in programList %} {% if program == index %} checked {% endif %} {% endfor %}>
		<span data-form-decorator="before">
			<span data-form-decorator="after">{{category}}</span>
		</span>
</label>
{% endfor %}

<p></p>


<br><br>
	<div align="right">
		<button name="project_sort" value="-budget" type="submit">금액높은순</button>
		<button name="project_sort" value="budget" type="submit">금액낮은순</button>
		<button name="project_sort" value="-register_time" type="submit">최신등록순</button>
		<button name="project_sort" value="closing_date" type="submit">마감임박순</button>
	</div>
<br><br>

    {% for project in projects %}
	<div class = "row" id="project-item">
		<div class = "media" >
            <!--NEW.-->
			{% if project.is_new %}
				<span class="label label-success">NEW  </span>
			{% endif %}

			<!--모집완료/모집중.-->
            {% if project.is_past_due %}
				<span class="label label-default">모집완료  </span>
			{% else %}
				<span class="label label-success">모집중  </span>
			{% endif %}

            <!--마감임박.-->
			{% if project.close_soon %}
				<span class="label label-success">마감임박  </span>
			{% endif %}

			<h3> {{ project.title }}</h3>

			<p> 프로젝트 예산 {{ project.budget }} 마감일 {{ project.closing_date | date:"Y.m.d" }} 예상기간 :  {{ project.duration }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% if project.projectapply__id != None %} 지원중 {% endif %} {% if project.projectconcern__id != None %} 관심 {% endif %} </p>
			<p> 등록일 {{ project.register_time |date:"Y.m.d"}}  예상업무시작일  {{ project.work_start_date | date:"Y.m.d" }} </p>

			<!--TODO. 관심있는 프로젝트 저장 액션 처리. -->

			<p> {{ project.desc }} </p>

			<p> 기능 : {{ project.category1 }} 플랫폼 {{project.category2 }} 장르 {{ project.category3 }}

			<div class ="custom-label">
            	{% for tag in project.get_tag_list %}
				<span class="label label-primary"> {{tag}} </span> &nbsp
				{% endfor %}
			</div>
		</div>
	</div>
    <br>

    {% endfor %}

	<div class="pagination">
		<span class="step-links">
			{% if projects.has_previous %}
				<a href="?page={{ contacts.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
			</span>

			{% if projects.has_next %}
				<a href="?page={{ projects.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>

</form>

{% endblock %}

