<footer>
    <div class="row container">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> 게임랜서 </div>
        <p>게임랜서는 좋은 회사 입니다 </p>
        <p><i class="fa fa-map-pin"></i> 서울시 강남구 테헤란로 326 역삼 아이타워 </p>
        <p><i class="fa fa-phone"></i> 전화번호 : 010 1234 1234</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@gamelancer.co.kr</p>

      </div>
      <div class="col-md-4 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">링크</h6>
        <ul class="footer-ul">
            <li><a href="/howto/main"> 이용방법 </a></li>
            <li><a href="/terms-of-service"> 이용약관 </a></li>
            <li><a href="/howto/faq"> 자주 묻는 질문</a></li>
            <li><a href="#"> 회사소개</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">언론에 소개된 게임랜서 </h6>
        <div class="post">
          <p> 최고의 게임 인재 중개 플랫폼 <span>2017. 3. 14</span></p>
          <p> 최고의 게임 인재 중개 플랫폼 <span>2017. 3. 14</span></p>
          <p> 최고의 게임 인재 중개 플랫폼 <span>2017. 3. 14</span></p>
        </div>
      </div>

    </div>
  </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>