


            <ul class="sidebar-nav">
                <li>
                    <a href="#">파트너 정보</a>
                </li>
                <li>
                    <a href="#">자기소개</a>
                </li>
                <li>
                    <a href="/partner/portfolio">포트폴리오</a>
                </li>
                <li>
                    <a href="#">보유기술</a>
                </li>
                <li>
                    <a href="#">경력,학력,자격증</a>
                </li>
                <li>
                    <a href="#">프로젝트 히스토리 </a>
                </li>
            </ul>



