<div class="list-group">
    <div class="list-group-item-heading">
        비밀번호를 변경해 주세요
    </div>
</div>

<form action="." class="form-horizontal" method="POST">
    {% csrf_token %}
    <input type="hidden" name="doctype" value="passwordchange"/>

    <div class="form-group " style="margin-bottom: 25px;">

    <label class="control-label required"><span>*</span> 비밀번호 변경하기</label>
        {{ form.as_p }}
    </div>

    <div class="form-group" style="margin-bottom: 30px;">
        <div class="btn-block-wrapper">
            <input type="submit" class="btn btn-lg btn-default" style="width: 340px; margin-left: 280px;" value="비밀번호 변경"/>
        </div>
    </div>
</form>
